/* display: flex쓰면 박스 가로배치 쉬워짐 */

.flex-container {
  background-color: pink;
  display: flex;
    /* align-items: center; flex 이용시 상하정렬 */
  height: 60px;
  align-items: center;
  color: white;
  padding: 10px;
  font-size: 15px;
  /* 부모에 주면 자식들이 flex받음 */
  /* justify-content: center; 가운데 정렬 쉬움 */
  /* flex-direction: row; 세로배치, 반응형 디자인에 유용 */
  /* flex-wrap: wrap; width크면 밑으로 보내고 싶을 때 */
  /* height: 500px; */

}

.flex-item {
  margin-right: 10px;
  /* 마진주면 보기 좋아짐 */
}