input[type=file]::-webkit-file-upload-button {
  /* 정확히는 브라우저마다 shadow-dom 까봐야 함 */
  background: skyblue;
  border: none;
}
/* 이렇게 하면 파일 선택 버튼에만 스타일 적용됨 */

input[type=range] {
  appearance: none;
  /* 이 appearance가 여기에도 반드시 필요 */
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  /* 이 appearance가 여기에도 반드시 필요 */
  background: red;
  width: 50px;
  height: 50px;
}

progress {
  -webkit-appreance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: blue;
  border-radius: 3px;
}

progress::-webkit-progress-value {
  background-color: green;
  border-radius: 3px;
}
